*{
    margin :0;
    padding : 0;
    box-sizing: border-box;
}
body{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}
/* //div */
.quiz-container{
    width:40%;
    height:70%;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border :2px solid black;
    border-radius: 20px;
    background-color: cornflowerblue;
    border : none;
   }

.quiz-container .quiz-header h2{
    text-align: center;
    font-size: xx-large;  
}
.quiz-container .quiz-header ul{
    display : flex;
    flex-direction: column;
    line-height: 3rem;
    padding-left: 2rem;
    margin-top: 2rem;
}
.quiz-container .quiz-header ul li{
    display : flex; 
   width:100%;
   align-items: center;
   font-size: x-large;
   font-weight: 500;
}
input[type="radio"]{
    margin-right: 2rem;
    width:1.2rem;
    height:1.2rem;
    
}
.quiz-container button{
       width:70%;
    height:4rem;
    background-color: blueviolet;
    border-radius: 20px;
    margin :3rem auto;
    font-size: x-large;
    border :none;
    box-shadow: 3px 6px 10px pink;
    transition: 0.5s;
}
.quiz-container button:hover{
    width :50%;
    transition: 0.5s;
}
h2{
    font-size: xx-large;
    text-align: center;
    
}